<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>679323863675-a8iscbsc241rjfp8limmgcj5tntdkc6f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.679323863675-a8iscbsc241rjfp8limmgcj5tntdkc6f</string>
	<key>API_KEY</key>
	<string>AIzaSyDLgXSrAPcHRP9Pj1rULaSpJ77WhXR-XBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>679323863675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.memorize</string>
	<key>PROJECT_ID</key>
	<string>memorize-bb3a4</string>
	<key>STORAGE_BUCKET</key>
	<string>memorize-bb3a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:679323863675:ios:6474eaba74f1abe7d530de</string>
</dict>
</plist>